/**Brand**/
.brand {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 55px;
    padding-bottom: 55px;
    color: var(--text-color-dark);
    background: #f8f8f8;
    z-index: 10;
}

.brand-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand-item {
    box-sizing: border-box;
    width: 16.666%;
}

.brand-item:last-child {
    margin-right: 0px;
}

.brand-img-wrap {
    text-align: center;
}

.brand-img-wrap img{
    width: auto;
}


/**media**/
@media (max-width: 1200px) {
    .brand-item {
        width: 33.333%;
        margin-bottom: 30px;
    }
}

@media (max-width: 760px) {
    .brand-item {
        width: 50%;
    }
    .brand-img-wrap img {
        width: 100px;
    }
    .brand-content{
        justify-content: center;
    }
}