html,body{
    margin: 0px;
    font-family: 'Montserrat';
    line-height: 1.4;

    /**var**/
    --main-color-green: #95e1d3;
    --accent-color-pink: #f38181;
    --text-color-dark: #333333;
    --text-color-grey: #999999;
    --text-color-white: #ffffff;
    --gradien:
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h1,h2,h3{
    margin: 0px;
    color: var(--text-color-dark);
}

.h1-title {
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0px;
}

.h2-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.h3-title {
    font-size: 14px;
    text-transform: uppercase;
}

.text{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: var(--text-color-grey);
    font-family: 'Roboto';
    line-height: 1.5;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.color-line{
    width: 70px;
    height: 3px;
    margin: 0 auto;
    background-color: #ffffff;
}

.button {
    display: inline-block; 
    margin: 0 auto;
    padding: 10px 45px; 
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px; 
    font-size: 15px; 
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.2s; 
    color: var(--text-color-white);
  }












