html,body{
    margin: 0px;
    font-family: 'Montserrat';
    line-height: 1.4;

    /**var**/
    --main-color-green: #95e1d3;
    --accent-color-pink: #f38181;
    --text-color-dark: #333333;
    --text-color-grey: #999999;
    --text-color-white: #ffffff;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

h1,h2,h3{
    margin: 0px;
    color: var(--text-color-dark);
}

.text{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: var(--text-color-grey);
    font-family: 'Roboto';
    line-height: 1.5;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.color-line{
    width: 70px;
    height: 3px;
    margin: 0 auto;
    background-color: #ffffff;
}

.button {
    display: inline-block; 
    margin: 0 auto;
    padding: 10px 45px; 
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px; 
    font-size: 15px; 
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.2s; 
    color: var(--text-color-white);
  }


/**header**/
.header{
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--text-color-white);
    background: #ffffff;
    background: url("../img/picture3.png") no-repeat center;
    background-size: cover;
}
.header::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgba(244,139,130), rgba(252,227,138));
    filter:opacity(0.9);
}

.header-content{
    position: relative;
    z-index: 101;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.h-top{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.logo{
    font-size: 40px;
    font-weight: bold;
}

.main-meny{

}

.main-meny li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    font-size: 14px;
    text-transform: uppercase;
}

.main-meny li:last-child {
    margin-right: 0px;
}

.main-meny a{
    color: var(--text-color-white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 0.2s ease;
}

.main-meny a:hover{
    color: #fde48a;
    border-bottom: 3px solid #fde48a;
}
.main-meny .img_a:hover{
    color: #fde48a;
    border-bottom: 0px solid #fde48a;
}

.main-meny img{
    width: 20px;
}

.h-center{
    padding: 30px 0px;
    text-align: center;
}

.h-center .h1{
    color: var(--text-color-white);
}

.h-center .color-line{
    margin-bottom: 50px;
}

.h1-subtitle{
    font-size: 60px;
    font-family: 'Kaushan Script';
    text-transform: uppercase;
    margin-bottom: 25px;
}

.h1-title{
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0px;
}

.button:hover{
    color: var(--text-color-white);
    background: var(--accent-color-pink);
}

.h-bottom{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.h-bottom span{
    transition: all 0.2s ease;
}

.nav-bottom{
    width: 25%;
    margin-right: 30px;
    cursor: pointer;
    opacity: 75%;
}

.nav-bottom:last-child{
    margin-right: 0px;
}

.nav-bottom-line{
    width: 100%;
    height: 3px;
    background: #ffffff;
    margin-bottom: 20px;
}
.nav-bottom-line span{
    display: block;
    width: 0%;
    height: 3px;
    background: var(--accent-color-pink);
}

.nav-bottom:hover span{
    width: 33%;
}

.nav-bottom:hover{
    opacity: 100%;
}

.nav-bottom-text{
    color: var(--text-color-white);
    font-size: 18px;
    text-transform: uppercase;
}

.nav-bottom-text span{
    font-size: 25px;
    font-weight: bold;
}


/**statistic**/
.statistic{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--text-color-white);
    background: var(--main-color-green);
}

.statistic-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.statistic-item{
    text-align: center;
    width: 20%;
    padding:75px 20px;
}

.statistic-item:nth-child(2n) {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.statistic-item:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.statistic-item:first-child{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}


.statistic-item-count{
    font-size: 70px;
    font-weight: bold;
}

.statistic-item-text{
    font-size: 14px;
    text-transform: uppercase;
}


/**globaltitle**/
.globaltitle {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--text-color-dark);
    text-align: center;
}

.globaltitle-content {
    padding-top: 100px;
    padding-bottom: 80px;
}

.h2-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.h2-subtitle{
    font-size: 25px;
    font-family: 'Kaushan Script';
}

.h2{
    margin-bottom: 30px;
}

.globaltitle .color-line {
    width: 70px;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: var(--accent-color-pink);
}

.globaltitle .text{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}


/**Amazing Services**/
.a-services{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--text-color-dark);
    border-bottom: 2px solid var(--main-color-green) ;
}

.a-services-content{
    padding-top: 10px;
}

.a-services-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

}

.a-services-item{
    position: relative;
    box-sizing: border-box;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 130px;
    width: 33.33%;
}

.item_bg1::after{
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') 0px -5px;
}

.item_bg2::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') -50px -5px;
}

.item_bg3::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') -90px -5px;
}

.item_bg4::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') -135px -5px;
}

.item_bg5::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') -230px -5px;
}

.item_bg6::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') -450px -5px;
}

.h3-title{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.grey-line{
    width: 100%;
    height: 1px;
    background-color: #999999;
    opacity: 25%;
    margin-bottom: 50px;
}

/**Brand**/
.brand {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 55px;
    padding-bottom: 55px;
    color: var(--text-color-dark);
    background: #f8f8f8;
}

.brand-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-item{
 width: 16.666%;
}

.brand-img-wrap{
    text-align: center;
}